h1, h2, h3, h4, h5, h6 {
    font-family: 'VT323', monospace;
}

.order-info {
  float: right;
  width: 50%;
  border: solid 1px black;
  padding-left: 50px;
}


.order-form {
  float: left;
  width: 40%;
}

.pagination {
    width: 100%;
    color: grey;
    text-align: center;
}

#header {
    height: 85px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #000000;
}

#account {
  padding-top: 25px;
}

#header a {
  color: #ffffff;
}

#header a:hover {
  text-decoration: none;
  color: #00e600;
}

a:hover {
  text-decoration: none;
  color: #00e600;
}

#logo {
  color: white;
}

#main h1 {
  font-size: 1.6em;
}

#main ul {
  list-style-type: none;
  width: 100%;
}

#main li img {
  float: left;
  margin: 0 15px 0 0;
}

#main li {
  padding: 10px;
  overflow: auto;
  border-bottom: solid 1px black;
}

#main li p {
  font-size: 1em;
}

#sidebar {
  border-right: solid 1px black;
  height: 100%;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar li {
  font-size: 1.2em;
}

#sidebar li:last-child {
  border: none;
}

#sidebar li a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 100%;
}

#sidebar li a:hover {
  background: #f6f6f6;
}

#sidebar li.selected {
  background: #f6f6f6;
}

#footer {
    height: 100px;
}

.cart {
  float: right;
}

#cart_table {
  font-size: 1em;
}
