.center {
    margin: auto;
    width: 50%;
}

ul {
    margin: 0 auto;
    text-align: center;
}


li {
    width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding-top: 15px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

.pagination {
    width: 100%;
    color: grey;
    text-align: center;
}

#header {
    height: 100px;
    background-color: #e0ebeb;
}

#main {
    padding-top: 25px;
}

#footer {
    height: 100px;
    background-color: #e0ebeb;
}
